In [ ]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import MinMaxScaler

In [21]:
df = pd.read_csv("./data/titanic.csv")

# delete useless_data column
df = df.drop(columns=['PassengerId', 'Name', 'Ticket', 'Cabin'])

# x_data, y_data 분리
y_data = df['Survived'].astype(float)
x_data = df.drop(columns=['Survived'])

In [22]:
# x_data에 대한 결측치 처리 (평균 처리)
x_data['Age'] = x_data['Age'].fillna(np.mean(x_data['Age']))

# 이진 분류 데이터 0, 1로 casting (male: 0, female: 1)
x_data['Sex'] = (x_data['Sex'] == "female").astype(float)

# One-Hot-Encoding (column: Pclass, Embarked)
x_data = pd.get_dummies(x_data, columns=['Pclass', 'Embarked']).astype(float)

# 전처리 결과 확인 (column)
x_data

,Sex,Age,SibSp,Parch,Fare,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S
0,0.0,34.50000,0.0,0.0,7.8292,0.0,0.0,1.0,0.0,1.0,0.0
1,1.0,47.00000,1.0,0.0,7.0000,0.0,0.0,1.0,0.0,0.0,1.0
2,0.0,62.00000,0.0,0.0,9.6875,0.0,1.0,0.0,0.0,1.0,0.0
3,0.0,27.00000,0.0,0.0,8.6625,0.0,0.0,1.0,0.0,0.0,1.0
4,1.0,22.00000,1.0,1.0,12.2875,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
413,0.0,30.27259,0.0,0.0,8.0500,0.0,0.0,1.0,0.0,0.0,1.0
414,1.0,39.00000,0.0,0.0,108.9000,1.0,0.0,0.0,1.0,0.0,0.0
415,0.0,38.50000,0.0,0.0,7.2500,0.0,0.0,1.0,0.0,0.0,1.0
416,0.0,30.27259,0.0,0.0,8.0500,0.0,0.0,1.0,0.0,0.0,1.0
417,0.0,30.27259,1.0,1.0,22.3583,0.0,0.0,1.0,1.0,0.0,0.0

In [23]:
# 데이터 정규화

# 정규화 함수 정의
scaler = MinMaxScaler(feature_range=(0, 1))

# x_data 정규화 (y_data는 0과 1이니까, 정규화 할 필요가 없지 않을까?)
x_data = scaler.fit_transform(x_data)